* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  margin: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.fixed-size{
  width: 100%;
  height: 100vh;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}
 button{
  font-family:"Poppins";
}

.container {
  background-color: black;
  width: 90%;
  height: 80%;
  border-radius: 20px;
  border: 5px solid #f5ba13;
  display: flex;
  overflow: hidden;
}
 
.tag {
  background-color: rgb(247, 247, 247);
  width: 30%;
  height: 100%;
  color: rgb(0, 0, 0);
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  
}

.title {
  padding-bottom: 0;
  margin-top: 43%;
  margin-left: 5%;
  font-size: 5rem;
  font-weight: 800;
  display: block;
}

.tagline {
  padding-top: 0px;
  margin-left:5%;
  font-size: 2.5rem;
  font-weight: 500;
}
.tg {
  margin-left: 45%;
  color: #f5ba13;
}
.du {
  color: #f5ba13;
}


.spline {
  background-color: rgb(247, 247, 247);
  width: 47%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element {
  background-color: rgb(247, 247, 247);
  width: 98%;
  height: 98%;
}

.form {
  background-color: rgb(247, 247, 247);
  width: 27%;
  height: 100%;
}

.Login {
  margin-top: 27%;
  width: 100%;
  height: 60%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  box-shadow: 0 0 10px rgb(202, 202, 202);
  padding-left: 10%;
}

.log-title{
  font-size: 3.4rem;
  font-weight: 800;
  margin-top: 7%;
  margin-bottom: 2%;
}

.inp {
  font-weight: 500;
  font-size: 1.3rem;
  
}

 .inp input {
  
  padding: 1rem 1rem;
  width: 80%;
  height: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  border: 0.1rem solid #f5ba13;
  font-family: 'Poppins';
  font-size: 0.8rem;
}

.login-button {
  font-size: 1.3rem;
  margin-top: 7%;
  width: 80% ;
  height: 2.6rem;
  color: white;
  font-weight: 800;
  background-color: #f5ba13;
  border: none;
}